*.pyc
*.o
*~

builds/


# CUDD
src/dd_libs/cudd-3.0.0/dddmp/exp/*.sh
src/dd_libs/cudd-3.0.0/html/
*.lo
*.Plo
*/cudd-3.0.0/html/*
*/cudd-3.0.0/doc/cudd.toc
*/cudd-3.0.0/doc/cudd.aux
*/cudd-3.0.0/doc/cudd.idx
*/cudd-3.0.0/doc/cudd.ilg
*/cudd-3.0.0/doc/cudd.ind
*/cudd-3.0.0/doc/cudd.log
*/cudd-3.0.0/doc/cudd.tex
*/cudd-3.0.0/doc/cudd.out
*/cudd-3.0.0/doc/cudd.pdf
*/cudd-3.0.0/epd/.deps/cudd_libcudd_la-epd.Plo
*/cudd-3.0.0/libtool
*/cudd-3.0.0/cplusplus/.deps/*
*/cudd-3.0.0/libs/*
*/cudd-3.0.0/tmp/*
*/cudd-3.0.0/cudd/.deps/*
*/cudd-3.0.0/dddmp/.deps/*
*/cudd-3.0.0/Makefile
*/cudd-3.0.0/config.status
*/cudd-3.0.0/libcudd.la
*/cudd-3.0.0/autom4te.cache/*
*/cudd-3.0.0/cudd/.libs/*
*/cudd-3.0.0/cudd/libcudd.la

# MEDDLY
*/Meddly/tests/
*/Meddly/src/.libs/
*/Meddly/src/lib/
*/Meddly/examples/
*/Meddly/autom4te.cache/
*/Meddly/include/meddly.h
*/Meddly/include/meddly_expert.hh
*/Meddly/include/meddly_expert.h
*/Meddly/lib/
*/Meddly/include/meddly.hh
*/Meddly/examples/Makefile
*/Meddly/src/Makefile
*/Meddly/src/Makefile.in
*/Meddly/src/libmeddly.la
*/Meddly/Makefile
*/Meddly/Makefile.in
*/Meddly/aclocal.m4
*/Meddly/libtool
*/Meddly/config.status
*.dirstamp
*/Meddly/ar-lib
*/Meddly/config.guess
*/Meddly/config.sub
*/Meddly/configure
*/Meddly/depcomp
*/Meddly/ltmain.sh
*/Meddly/m4/libtool.m4
