---
name: Code style tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch: # Optional: allows you to manually trigger the workflow from the GitHub UI

jobs:
  style:
    name: Test code style
    runs-on: ubuntu-24.04
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip3 install tox

      - name: Install clang-format
        run: |
          sudo apt-get -y install clang-format-18

      - name: Run code style tests
        run: |
          cd misc/
          tox -e style

...
